{% if deploy_helper.shared_path|default() -%}
	SHARED_DIR={{ deploy_helper.shared_path }}
{% endif %}
{% if gitclone.after|default() -%}
	VERSION={{ gitclone.after }}
{% endif %}
{%- if env_vars|default(None) %}{% for key, value in env_vars.iteritems() %}
{{ key|upper }}={{ value }}
{% endfor %}{% endif %}
